@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&subset=latin-ext');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;*/
*{
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.container-fluid{
	width: 100%;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
/*Header*/
header .submenu{
	background-color: #21242e;
	color: white;
	text-align: left;
	padding: 10px 0px;
}
header .submenu .container div{
	width: 25%;
	float: left;
	padding-left: 20px;
}
header .submenu a{
	color: white;
	text-decoration: none;
}
header .submenu i {
	color: #fa573a;
}
header .submenu a:hover{
	color: #fa573a;
}
header .submenu .container div:last-child, header .submenu .container div:nth-child(3){
	text-align: right;
}
header nav{
	background-color: white;
	padding: 20px 0px 0px;
}
header nav .logo {
	width: 100px;
	height: auto;
	float: left;
}
header nav .menu {
	padding-top: 5px;
	float: right;
}
header nav .menu li{
	display: inline-block;
	margin-left: 15px;
}
header nav a{
	text-decoration: none;
	color: #666
}
header nav a:hover{
	color: #fa573a
}
header nav .activo{
	color: #fa573a
}
/*Fin Header*/

/*Hero*/

.hero{
	background-image: url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 80vh;
	background-color: darkgrey;
	background-blend-mode: soft-light;
}
.hero>div{
	padding: 7%;
}
/*.hero>div:nth-child(2n) {
  background-color: red;
}*/
.hero>div h2{
	font-size: 2em;
	font-family: 'Handlee', cursive;
	color: white;
}
.hero>div h3{
	color: #fa573a
}
.hero .social li{
	display: inline-block;
	margin-right: 30px;
}
.hero .social li a{
	color: white;
}
/*Fin Hero*/

/*Main*/
main h1{
	display: none;
}
main .section-light h2{
	color: black;
	font-family: 'Handlee', cursive;
	text-align: center;
	font-size: 2em;

}
main .section-light h2 span{
	color: #fa573a
}
main section .underline{
	position: relative;
	margin: 0 auto 40px auto;
	height: 15px;
	width: 115px;
}
main section .underline hr{
	width: 115px;
	position: absolute;
	top: 6px;
	border-color: #fa573a;
}
main section .underline span{
	display: block;
	font-weight: 700;
	position: absolute;
	top: 7.5px;
	left: 51px;
	color: #fa573a
}
main section .flexbox{
	display: flex;
	flex-wrap: wrap;
}
main #ourservices .icon{
	color: #fa573a;
	padding: 4px;
	font-size: 1.2em;
	border: 2px solid #fa573a;
	transform: rotateY(180deg);
	margin-bottom: 15px
}
/*main section article{
	width: 20%;
}
main section article:nth-child(2){
	width: 50%;
}*/
main section article{
	width: 33%;
	border-left: 1px solid gray;
	padding-left: 8px;
}
main section p{
	line-height: 1.5;
	color: #666;
/*	margin-bottom: 20px;*/
}
main section h4{
	color: #fa573a;
	font-size: 1.05em;
	margin-bottom: 20px;
}
/*Fin Main*/

/*General*/
section{
	padding: 30px 0;
}
.columna{
	width: 50%;
	position: relative;
}
#columna1 .foto{
	width: 80%;
	top: 2%;
	left: 1%;
	display: block;
	position: absolute;
}
#columna1 .cuadrado{
	width: 82%;
	border: 4px solid #fa573a;
	background-color: transparent;
	position: absolute;
	transform: rotateZ(-10deg);
}
#columna1 .cuadrado img{
	display: block;
	visibility:hidden;
}
#columna1 .rota:hover .cuadrado{
	transform: rotateZ(0deg);
	transition: 1s;
}
#columna1 .rota:hover .foto{
	transition: 1s;
}
h3{
	font-size: 1.5em;
	font-family: 'Handlee', cursive;
}
.boton{
	background-color: #fa573a;
	color: white;
	text-decoration: none;
	padding: 15px;
	margin: 20px 0px;
	display: inline-block;
	border: 2px solid #fa573a;
}
.boton:hover{
	background-color: transparent;
	color: #fa573a;
	border: 2px solid #fa573a;
}
.enlace{
	text-decoration: none;
	color: #fa573a;
	font-weight: 700;
	margin-top: 20px;
	display: inline-block;
}
.enlace:hover i{
	margin-left: 5px;
	transition: .5s;
}
img {
	width: 100%;
	height: auto;
}
.row:after{
	content: "";
	height: 0px;
	display: block;
	clear:both;
}
.mt_50{
	margin-top: 50px;
}
.mb_50{
	margin-bottom: 50px;
}
.mx_50{
	margin: 50px 0;
}
.pt_50{
	padding-top: 50px;
}
.pb_50{
	padding-bottom: 50px;
}
.px_50{
	padding: 50px 0;
}
.hamburguesa{
	display: none;
}
/*Fin General*/
/*Responsive medias queryes*/
@media (max-width: 1100px) {
	header .submenu {
		padding-right: 20px;
	}
	header nav{
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 20px;
	}
	.rota{
		padding-left: 5%;
	}
	.rota .foto img{
		margin-left: 6%;
	}
}
@media (max-width: 768px) {
	header .submenu div{
		text-align: center !important;
		font-size: 90%;
	}
}
@media (max-width: 652px) {
	header .submenu .mostrar{
		display: none;
	}
	header .submenu div{
		font-size: 120%;
	} 
	header nav .logo {
		float: left;
	}
	header nav .menu {
		float: none;
		padding-top: 60px;
	}
	header nav .menu li{
		display: block;
		margin-left: 15px;
		padding-bottom: 7px;
		border-bottom: 1px solid #ddd;
	}
	.hamburguesa {
		display: block;
		float: right;
	}
	.hamburguesa .linea{
		border-top: 2px solid #666;
		width: 30px;
		margin-bottom: 10px;
		cursor: pointer;
	}
	main section article{
		width: 50%;
		border-left: 1px solid gray;
		padding-left: 8px;
		margin-top: 20px;
	}
	main section article:last-child{
		width: 100%;
		border-left: 1px solid gray;
		padding-left: 8px;
		margin-top: 20px;
	}
}
@media (max-width: 426px) {
	main section article{
		width: 100%;
		border-left: 0px !important;
		border-bottom: 1px solid gray;
		margin-top: 20px;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.columna{
		width: 100%;
		padding-left: 2%;
	}
	#columna1 .foto{
		width: 75%;
	}
	#columna1 .cuadrado{
		width: 82%;
		border: 4px solid #fa573a;
		background-color: transparent;
		bottom: 2%;
		right: 2%;
		position: relative;
		transform: rotateZ(-10deg);
		margin-bottom: 20px;
	}
	#columna1 .cuadrado img{
		visibility:hidden;
	}
	#columna1 .rota:hover .cuadrado{
		transform: rotateZ(0deg);
		transition: 1s;
	}
}
/*Fin Responsive*/
