@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&subset=latin-ext');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;*/
*{
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.container-fluid{
	width: 100%;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
/*Header*/
header .submenu{
	background-color: #21242e;
	color: white;
	text-align: left;
	padding: 10px 0px;
}
header .submenu .container div{
	width: 25%;
	float: left;
	padding-left: 20px;
}
header .submenu a{
	color: white;
	text-decoration: none;
}
header .submenu i {
	color: #fa573a;
}
header .submenu a:hover{
	color: #fa573a;
}
header .submenu .container div:last-child, header .submenu .container div:nth-child(3){
	text-align: right;
}
header nav{
	background-color: white;
	padding: 20px 0px 0px;
}
header nav .logo {
	width: 100px;
	height: auto;
	float: left;
}
header nav .menu {
	padding-top: 5px;
	float: right;
}
header nav .menu li{
	display: inline-block;
	margin-left: 15px;
}
header nav a{
	text-decoration: none;
	color: #666
}
header nav a:hover{
	color: #fa573a
}
header nav .activo{
	color: #fa573a
}
/*Fin Header*/

/*Hero*/

.hero{
	background-image: url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 80vh;
	background-color: darkgrey;
	background-blend-mode: soft-light;
}
.hero>div{
	padding: 7%;
}
/*.hero>div:nth-child(2n) {
  background-color: red;
}*/
.hero>div h2{
	font-size: 2em;
	font-family: 'Handlee', cursive;
	color: white;
}
.hero>div h3{
	color: #fa573a
}
.hero .social li{
	display: inline-block;
	margin-right: 30px;
}
.hero .social li a{
	color: white;
}
/*Fin Hero*/

/*Main*/
main h1{
	display: none;
}
main .section-light h2{
	color: black;
	font-family: 'Handlee', cursive;
	text-align: center;
	font-size: 2em;

}
main .section-light h2 span{
	color: #fa573a
}
main section .underline{
	position: relative;
	margin: 0 auto 40px auto;
	height: 15px;
	width: 115px;
}
main section .underline hr{
	width: 115px;
	position: absolute;
	top: 6px;
	border-color: #fa573a;
}
main section .underline span{
	display: block;
	font-weight: 700;
	position: absolute;
	top: 7.5px;
	left: 51px;
	color: #fa573a
}
main section .flexbox{
	display: flex;
	flex-wrap: wrap;
}
main #ourservices .icon{
	color: #fa573a;
	padding: 4px;
	font-size: 1.2em;
	border: 2px solid #fa573a;
	transform: rotateY(180deg);
	margin-bottom: 15px
}
/*main section article{
	width: 20%;
}
main section article:nth-child(2){
	width: 50%;
}*/
main section article{
	width: 33%;
	border-left: 1px solid gray;
	padding-left: 8px;
}
main section p{
	line-height: 1.5;
	color: #666;
/*	margin-bottom: 20px;*/
}
main 
/*Fin Main*/

/*General*/
section{
	padding: 30px 0;
}
h3{
	font-size: 1.5em;
	margin: 12px 0px;
	font-family: 'Handlee', cursive;
}
.boton{
	background-color: #fa573a;
	color: white;
	text-decoration: none;
	padding: 15px;
	margin: 20px 0px;
	display: inline-block;
	border: 2px solid #fa573a;
}
.boton:hover{
	background-color: transparent;
	color: #fa573a;
	border: 2px solid #fa573a;
}
.enlace{
	text-decoration: none;
	color: #fa573a;
	font-weight: 700;
	margin-top: 20px;
	display: inline-block;
}
.enlace:hover i{
	margin-left: 5px;
	transition: .5s;
}
img {
	width: 100%;
	height: auto;
}
.row:after{
	content: "";
	height: 0px;
	display: block;
	clear:both;
}
.mt_50{
	margin-top: 50px;
}
.mb_50{
	margin-bottom: 50px;
}
.mx_50{
	margin: 50px 0;
}
.pt_50{
	padding-top: 50px;
}
.pb_50{
	padding-bottom: 50px;
}
.px_50{
	padding: 50px 0;
}
/*Fin General*/
