<div class="container bg-primary">
    <div class="form-group">
      <input type="text" class="form-control" [value]="num1">
    <h1>+</h1>
      <input type="text" class="form-control" [value]="num2"> 
    </div>
    <button type="button" class="btn btn-light" (click)="resultadoSuma()">RESULTADO</button>
  <!-- {{total}} -->
</div>

<div class="container bg-info">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="num11">
    </div>
    <h1>+</h1>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="num22"> 
    </div>
    <button type="button" class="btn btn-light" (click)="resultadoSuma2()">RESULTADO</button>
</div>