<div class="card">
    <div class="card-header text-center">
      <h3>Comanda</h3>
    </div>
    <div class="container-fluid">
      <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Anular</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listadoPintar;let indice=index; let par=odd">
                <td>{{producto.cantidad}}</td>
                <td>{{producto.producto.nombre}}</td>
                <td>{{producto.producto.precio}} €</td>
                <td id="subtotal">{{producto.producto.precio * producto.cantidad}} €</td>
                <td><button type="button" class="btn btn-danger btn-sm" (click)= "eliminar(producto)">X</button></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="card-header text-center">
          <h3>Total</h3>{{suma()}} Euros
        </div>
    </div>
  
  
  </div>