<p [ngStyle]='estilosP'>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ullam impedit recusandae perspiciatis quis natus aliquam at odio quasi dolorum quia hic velit atque debitis reprehenderit, quam sint quod cum.
</p>
<input type="text" [(ngModel)]="cambioColor">
<button (click)='cambiarColor()'>Color Texto</button>
<input type="text" [(ngModel)]="cambioColorFondo">
<button (click)='cambiarColorFondo()'>Color Fondo</button>
<input type="text" [(ngModel)]="cambioTexto">
<button (click)='cambiarTexto()'>Tamaño texto</button>
<hr>
<input type="text" [(ngModel)]="estilosP.color">
