<div class="wrapper">
  <div class="container bg-secondary">
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="persona.nombre">
    </div>
    <div class="form-group">
      <label for="">Apellido</label>
      <input type="text" class="form-control" [(ngModel)]="persona.apellido"> 
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" [(ngModel)]="persona.password">
    </div>
    <div class="form-group">
      <label for="">E-mail</label>
      <input type="email" class="form-control" [(ngModel)]="persona.mail">
    </div>
    <button type="button" class="btn btn-light" (click)="botonFormulario()">Enviar</button>
  </div>
  {{persona | json}}
</div>